{% extends "base.html" %}
{% load pagination_tags %}
{% load common_tags %}

{% block title %}{% block pagetitle %}{{ venue.name }}{% endblock %}{% endblock %}

{% block content %}

{% include "venue/ul.location_menu.html" %}

<div class="breakout-session-list-header">Past Sessions Here</div>

{% for breakout_session in breakout_sessions %}
    <div class="breakout-session-list-item">
        <a href="{{ breakout_session.get_absolute_url }}"><strong>{{ breakout_session.name }}</strong></a> &mdash; <br/>
        {{ breakout_session.start_date_localized|date:"P" }} &ndash; {{ breakout_session.end_date_localized|date:"P" }} on {{ breakout_session.start_date_localized|date:"D, M j" }}<br/>
        <a href="{{ breakout_session.moderator.get_absolute_url }}">{{ breakout_session.moderator.short_name }}</a> moderated<br/>
        {{ breakout_session.participants.count }} {{ breakout_session.participants.count|pluralize:"person,people" }} attended
    </div>


{% endfor %}

{% endblock %}
