{% extends "base.html" %}
{% load pagination_tags %}
{% load common_tags %}

{% block title %}{% block pagetitle %}{{ venue.name }}{% endblock %}{% endblock %}

{% block content %}

{% include "venue/ul.venue_menu.html" %}

{% regroup breakout_sessions by event_date as breakout_session_dates_list %}

{% for breakout_session_dates in breakout_session_dates_list %}

    <div class="breakout-session-list-date">{{ breakout_session_dates.grouper|date:"l, F jS" }}</div>

    <div class="breakout-session-list">
        {% for breakout_session in breakout_session_dates.list %}
            {% include 'breakout_session/table.list.html' %}
        {% endfor %}
    </div>

{% endfor %}

{% endblock %}
