{% extends "base.html" %}
{% load pagination_tags %}
{% load common_tags %}
{% load google_maps %}

{% block script %}

{% gmap_script %}
<script>
function create_venue_map() {
    if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.enableDoubleClickZoom();
        map.enableContinuousZoom();
        map.setCenter(new GLatLng({{ venue.latitude }}, {{ venue.longitude }}), 16, map.getMapTypes()[0]);
        map.setUIToDefault();

        var point = map.getCenter();
        var m = new GMarker(point);
        GEvent.addListener(m, "click", function() {
            m.openInfoWindowHtml("<strong>{{ venue.name }}</strong><br/>\
                                {{ venue.street_address_1 }}<br/>\
                                {% if venue.street_address_2 %}{{ venue.street_address_2 }}<br/>{% endif %}\
                                {{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}");
        });
        map.addOverlay(m);
        map.enableGoogleBar();
        return map;
    }
}
</script>

{% endblock %}

{% block onload_script %}create_venue_map();{% endblock %}
{% block onunload_script %}GUnload();{% endblock %}

{% block title %}{% block pagetitle %}{{ venue.name }}{% endblock %}{% endblock %}

{% block content %}

{% include "venue/ul.location_menu.html" %}

{% if venue.future_breakout_sessions.count %}
    <div class="breakout-session-list-header">Upcoming Sessions</div>

    {% regroup venue.future_breakout_sessions by event_date as breakout_session_dates_list %}
    {% for breakout_session_dates in breakout_session_dates_list %}
    <div class="breakout-session-list-date">{{ breakout_session_dates.grouper|date:"l, F dS" }}</div>
    <div class="">
        <table class="">
            {% for breakout_session in breakout_session_dates.list %}
                <tr>
                    <td>
                        <a href="{{ breakout_session.get_absolute_url }}"><strong>{{ breakout_session.name }}</strong></a><br/>
                        {{ breakout_session.description|linebreaks }}
                    </td>
                    <td><a href="{{ breakout_session.venue.get_absolute_url }}">{{ breakout_session.venue.name }}</a></td>
                    <td>{{ breakout_session.start_date|date:"P" }} - {{ breakout_session.end_date|date:"P" }}</td>
                    <td><a href="">Sign Up &raquo;</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
{% endif %}

<div id="map_canvas" class="google-map"></div>

<div class="">Useful Nearby Locations</div>

{% endblock %}

{% block content_secondary %}

    {% include 'venue/sidebar.about_location.html' %}

    <div class="sidebar-information">
        <h2>Here Now</h2>
    </div>

    {% include 'venue/sidebar.past_sessions.html' %}

{% endblock %}

