
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #fcf321;
  color: #000000;
  text-align: left;
  line-height: 15px;
}

a {
	color: #0093df;
}

a:hover {
	color: #61b1e5;
}

p {
    margin: 3px 0;
}

h1 {
    font-size: 22px;
    padding: 0px 0 8px 0;
    margin-top: 0px;
    color: #0093df;
}

h2 {
    font-size: 18px;
    padding: 10px 0 8px 0;
    color: #0093df;
}

div.clear {
    clear: both;
    height: 0px;
}

.float-right {
    float: right;
}

#container {
    width: 956px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    height: 100%;
}

#site-wide-announcements {
    background: #123;
    color: #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding: 6px;
}

#header {
    margin: 0 auto;
    height: 120px;
}

#header-login {
    float: right;
    padding: 0 10px;
}

/*** Sidebar ***/

.sidebar-information {
	border: 1px solid #0093df;
	padding: 0px;
	margin-top: 10px;
}

.sidebar-information p {
	margin: 10px;
}

.sidebar-information h2 {
	color: #fff;
	background-color: #0093df;
	padding: 7px;
	margin-top: 0px;
	font-size: 16px;
}

.sidebar-information ul {
	padding: 0px 10px 5px 25px;
}

#footer {		
	font-size: 11px;
	clear: both;
	padding: 10px 10px 10px 10px;
	background-color:#b5b5b5;
	height: 46px;
}

.footer-text {
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
  line-height:1.25em;
  padding: 0px 0 3px 0px;
  float:left;
  width: 100%;
}
.footer-text ul {
	list-style: none;
	float:left;
	width: 30%;
	margin: 0px;
	padding: 0px;
}
.footer-text li {
	display:inline;
	margin:0 5px;
	letter-spacing:-1px
}
.footer-text li a{
	color: #ffffff;
	text-decoration: none;
}
.footer-text li a:hover{
	color: #ccc;
}

.footer-text .attribution {
  color:#494949;
  font-size:10px;
  text-align:right;
  padding:0px 17px 3px 0;
	float:right;
}
.footer-text .attribution a {
  color:#494949;
}
.footer-text .attribution a:hover {
  color:#797979;
}


#sponsors {
    font-size: 11px;
    clear: both;
    padding: 10px;
    background-color: #ddd;
}

#content-secondary {
    text-align: left;
    float: right;
    width: 300px;
    padding: 10px;
}

#content-main {
    float: left;
    width: 610px;
    padding: 10px;
}

ul#twitter-results {
    width: 580px;
    margin: 10px 0;
    padding: 0;
}

ul#twitter-results li.twitter-status {
    padding: 8px 0;
    list-style: none;
    display: block;
    clear: left;
}

div.twitter-icon {
    float: left;
    width: 52px;
    height: 48px;
}

div.twitter-icon img {
    height: 48px;
    width: 48px;
    padding-right: 4px;
}

div.twitter-message {
    float: left;
    width: 520px;
}

div.twitter-date {
    color: #bbb;
    font-size: 10px;
    margin-top: 6px;
}

.pagination {
    color: #888;
    clear: both;
    margin: 2px 0;
}

.pagination a,
.pagination a:hover,
.pagination a:visited {
    color: #444;
    text-decoration: none;
}

.pagination .prev,
.pagination .next,
.pagination .page {
    padding: 3px 5px;
    background: #ddf;
    border: 1px solid #668;
}

.pagination .current {
    color: #fff;
    font-weight: bold;
    background: #668;
    border: 1px solid #668;
}

.pagination .disabled {
    color: #aaa;
    background: #fff;
    border: 1px solid #aaa;
}

div#messages {
    padding: 3px;
    margin: 5px 0;
    background: #fee;
}

div#messages .notice {
    color: #f00;
    font-size: 10px;
}

span.search-terms {
    color: #acd;
}

span.highlight {
    padding: 2px 0;
    background: #cef;
}

a.claim-profile {
    text-align: center;
    background: #aad;
    border: 1px solid #88c;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

/* Page Tabs */

div.tabs {
    clear: both;
    height: 40px;
    border-bottom: 1px solid #000;
    padding-left: 4px;
    margin-top: 10px;
}

div.tabs li {
    float: left;
    list-style: none;
}

div.tabs li a {
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 10px;
    padding: 7px 12px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #000;
    border-bottom: 0;
    color: #31373f;
    background: #eee;
}


/*div.tabs li a span {
  display: block;
  padding-top: 10px;
  padding-right: 20px;
  margin-top: -10px;
  background: #eee;
}
*/
div.tabs li a:hover {
  text-decoration: none;
  color: #0063a2;
}

div.tabs li.active a {
    border-left: solid 1px #000;
    font-size: 14px;
    margin-top: 0px;
    padding: 12px 12px;
    border-bottom: none;
    cursor: default;
    background: #fff;
}

/*div.tabs li.active a span {
  padding-top: 15px;
  padding-right: 20px;
  background: #fff;
}
*/
div.tabs li.active a:hover {
  color: #31373f;
}



/* Breakout Design */

.breakout-session-list-date {
    border: 1px solid #0093df;
    border-bottom: 0;
    background: #0093df;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    margin: 0px;
}

.breakout-session-list {
    padding: 0;
    margin: 0 0 8px 0;
    border: 1px solid #0093df;
    border-top: 0;
}

.breakout-session-list-container {
    margin: 0;
    padding: 0;
    border-top: 1px solid #0093df;
}

breakout-session-list-container table{
    margin: 0;
    padding: 0;
}

.breakout-session-list-description {
    width: 450px;
    padding-right: 10px;
    vertical-align: top;
    padding: 4px;
}

.breakout-session-list-details {
    width: 200px;
    vertical-align: top;
    padding: 4px;
}

.breakout-session-list-attending {
    width: 450px;
    vertical-align: top;
    border-top: 1px solid #0093df;
    padding: 4px;
}

.breakout-session-list-action {
    width: 200px;
    vertical-align: top;
    background: #dedede;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    border-top: 1px solid #0093df;
}

.breakout-session-list-action a {
	text-decoration: none;
	color: #0093df;
	font-size: 16px;
}

.breakout-session-list-action a:hover {
	color: #61b1e5;
}

.host-session-action {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 2px solid #aac;
    background: #dde;
    padding: 10px 4px;
}

.host-session-action a {
	text-decoration: none;
}

.google-map {
    width: 610px; 
    height: 400px;
}


div.lifestream-entry {
    padding: 2px;
    border: 1px solid #ddd;
    clear: both;
    margin-bottom: 2px;
}

div.lifestream-entry .lifestream-color {
    float: left;
    width: 3px;
    height: 100%;
}

div.lifestream-entry .lifestream-service-icon {
    float: right;
}

div.lifestream-entry .profile-image {
    margin: 0 4px 4px 0;
    float: left;
}

div.lifestream-entry .lifestream-created-time,
div.lifestream-entry .lifestream-created-time a {
    font-size: 10px;
    color: #666;
}

div#participation-bar {
    background: #faa;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    padding: 5px;
}