
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #fcf321;
  color: #000000;
  text-align: left;
  line-height: 15px;
}

a {
	color: #0093df;
}

a:hover {
	color: #61b1e5;
}

p {
    margin: 3px 0;
}

h1 {
    font-size: 24px;
    padding: 0px 0 8px 0;
    margin-top: 0px;
    color: #0093df;
}

h2 {
    font-size: 18px;
    padding: 10px 0 8px 0;
    color: #0093df;
}

div.clear {
    clear: both;
    height: 0px;
}

.float-right {
    float: right;
}

#container {
    width: 956px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    height: 100%;
}

#site-wide-announcements {
    background: #123;
    color: #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding: 6px;
}

#header {
    margin: 0 auto;
    background: #fff;
    height: 150px;
}

#header-login {
/*    float: right;*/
    padding: 2px 10px;
    text-align: right;
}

/*** Sidebar ***/

div.sidebar-container {
	border: 1px solid #0093df;
	padding: 0px;
	margin-top: 10px;
}

div.sidebar-container h2 {
	color: #fff;
	background-color: #0093df;
	padding: 7px;
	margin-top: 0px;
	font-size: 16px;
}

div.sidebar-container div.sidebar-information,
div.sidebar-container p.sidebar-information {
	margin: 10px;
}

div.sidebar-container ul {
	padding-left: 20px;
}

/* Navigation */
#primary-navigation {
    clear:both;
}
 
/* Top Navigation */
#primary-navigation {
    color: #fff;
    background-color: #009fea;
    font-size: 14px;
    height: 25px;
    padding: 0;
}

#primary-navigation ul {
    list-style: none;
    height: 25px;
}

#primary-navigation ul li {
    float: left;
    border-right: 1px solid #fff;
    height: 25px;
}

#primary-navigation ul li.active {
    background-color: #155978;
}

#primary-navigation ul li a {
    color: #fff;
    font-weight: bold;
    padding: 3px 14px 5px 14px;
    text-decoration: none;
    line-height: 25px;
}

#footer {		
	font-size: 11px;
	clear: both;
	padding: 10px 10px 10px 10px;
	background-color:#b5b5b5;
	height: 52px;
}

#footer .footer-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25em;
  padding: 0px 0 3px 0px;
  float: left;
}

#footer .footer-text ul {
	list-style: none;
    display: inline;
	width: 30%;
	margin: 0px;
	padding: 0px;
}

#footer .footer-text ul li {
	display: inline;
	margin: 0 5px;
}

#footer .footer-text li a {
	color: #ffffff;
	text-decoration: none;
}

#footer .footer-text li a:hover{
	color: #ccc;
}

#footer .attribution {
    color: #494949;
    text-align: right;
    padding-bottom: 6px;
	float: right;
}

#footer .attribution a {
    color: #494949;
}

#footer .attribution a:hover {
    color: #797979;
}


#sponsors {
    font-size: 11px;
    clear: both;
    padding: 10px;
    background-color: #ddd;
}

#sponsors h1 {
    display: inline;
}

#sponsors h1 img {
    vertical-align: top;
}

#sponsors ul {
    display: inline;
    list-style: none;
    padding: 0px 0px 0px 10px;
}

#sponsors ul li {
    display: inline;
    margin-right: 10px;
}

#content-secondary {
    text-align: left;
    float: right;
    width: 300px;
    padding: 10px;
}

#content-main {
    float: left;
    width: 610px;
    padding: 10px;
}

#content-main h1 img {
	margin-right: 5px; 
	border:0px;
	margin-bottom: -3px;
}

#content-main div table tr td {
	padding: 10px 10px;
	vertical-align: top;
}

#content-main div table tr td a strong {
	font-size: 16px;
}

.venue-name {
	width: 200px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.breakout-session-date {
	margin-bottom: 5px;
}

.breakout-session-registration {
	font-size: 14px;
}

ul#twitter-results {
    width: 580px;
    margin: 10px 0;
    padding: 0;
}

ul#twitter-results li.twitter-status {
    padding: 8px 0;
    list-style: none;
    display: block;
    clear: left;
}

div.twitter-icon {
    float: left;
    width: 52px;
    height: 48px;
}

div.twitter-icon img {
    height: 48px;
    width: 48px;
    padding-right: 4px;
}

div.twitter-message {
    float: left;
    width: 520px;
}

div.twitter-date {
    color: #bbb;
    font-size: 10px;
    margin-top: 6px;
}

.pagination {
    color: #888;
    clear: both;
    margin: 2px 0;
}

.pagination a,
.pagination a:hover,
.pagination a:visited {
    color: #444;
    text-decoration: none;
}

.pagination .prev,
.pagination .next,
.pagination .page {
    padding: 3px 5px;
    background: #ddf;
    border: 1px solid #668;
}

.pagination .current {
    color: #fff;
    font-weight: bold;
    background: #668;
    border: 1px solid #668;
}

.pagination .disabled {
    color: #aaa;
    background: #fff;
    border: 1px solid #aaa;
}

div#messages {
    padding: 3px;
    margin: 5px 0;
    background: #81A752;
}

div#messages .notice {
    color: #fff;
    font-weight: bold;
/*    font-size: 10px;*/
}

span.search-terms {
    color: #acd;
}

span.highlight {
    padding: 2px 0;
    background: #cef;
}

a.claim-profile {
    text-align: center;
    background: #aad;
    border: 1px solid #88c;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

/* Page Tabs */

div.tabs {
    clear: both;
    height: 40px;
    border-bottom: 1px solid #0093df;
    padding-left: 0px;
    margin-top: 10px;
}

div.tabs li {
    float: left;
    list-style: none;
}

div.tabs li a {
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 10px;
    padding: 7px 12px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #61b1e5;
    border-bottom: 0;
    color: #000;
    text-decoration: none;
    background-color: #dfdfdf;
}


/*div.tabs li a span {
  display: block;
  padding-top: 10px;
  padding-right: 20px;
  margin-top: -10px;
  background: #eee;
}
*/
div.tabs li a:hover {
	text-decoration: none;
	background-color: #61b1e5;
	color: #fff;
}

div.tabs li.active {
}

div.tabs li.active a {
	color: #fff;
    border-left: solid 1px #0093df;
    font-size: 14px;
    margin-top: 0px;
    padding: 12px 12px;
    border-bottom: none;
    cursor: default;
	background-color: #0093df;
}

/*div.tabs li.active a span {
  padding-top: 15px;
  padding-right: 20px;
  background: #fff;
}
*/


/* Breakout Design */

.breakout-session-list-date {
    border: 1px solid #0093df;
    border-bottom: 0;
    background: #0093df;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    font-size: 14px;
}

.breakout-session-list {
    padding: 0;
    margin: 0 0 20px 0;
    border: 1px solid #0093df;
    border-top: 0;
}

.breakout-session-list-small {
	list-style-type: disc;
}

.breakout-session-list-small li {
	margin-bottom: 5px;
}

.breakout-session-list-header {
	margin: 10px 0px;
	font-size: 18px;
	clear: both;
	padding: 10px 0 8px 0;
	color: #0093df;
	font-weight: bold;
}

.breakout-session-list-container {
    margin: 0;
    padding: 0;
    border-top: 3px solid #0093df;
}

breakout-session-list-container table{
    margin: 0;
    padding: 0;
}

.breakout-session-list-description {
    width: 450px;
    padding: 4px;
    padding-right: 10px;
    vertical-align: top;
}

.breakout-session-list-description a {
	font-weight: bold;
}

.breakout-session-list-details {
    width: 200px;
    vertical-align: top;
    padding: 4px;
}

.breakout-session-list-attending {
    width: 450px;
    vertical-align: top;
    border-top: 1px solid #0093df;
    padding: 4px;
    background-color: #d4eefe;
}

.breakout-session-list-action {
    width: 200px;
    vertical-align: top;
    background: #fef777;
    color: #000;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    border-top: 1px solid #0093df;
}

.breakout-session-list-action:hover {
	background: #fff200;
	color: #000;
}

.breakout-session-list-action a {
	text-decoration: none;
	font-size: 16px;
}

.breakout-session-list-action a:hover {
	color: #0093df;
}

.breakout-session-list-item {
	margin: 10px 0px;
	padding: 10px;
	background-color: #f4f4f4;
}

.breakout-session-list-item h3 {
	font-size: 16px;
	margin-top: 0px;
}

.breakout-session-list-item:hover {
	background-color: #eee;
}

.breakout-session-list-item strong {
	font-size: 14px;
	clear: right;
}

.host-session-action {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 1px solid #0093df;
    background: #faf257;
    padding: 10px 4px;
}

.host-session-action:hover {
    background: #fff200;
}

.host-session-action a {
	text-decoration: none;
}
.host-session-action a img {
	margin-right:10px; 
	border:0px;
	margin-bottom: -5px;
}

.host-session-action a:hover {
	color: #0093df;
}

.google-map {
    width: 610px; 
    height: 400px;
}

.session-description {
	padding: 10px;
	border: 1px solid #0093df;
	border-top: none;
}

div.lifestream-entry {
    padding: 2px;
    border: 1px solid #ddd;
/*    border-top: none;*/
    clear: both;
/*    margin-bottom: 2px;*/
}

div.lifestream-entry .lifestream-color {
    float: left;
    width: 3px;
    height: 100%;
}

div.lifestream-entry .lifestream-service-icon {
    float: right;
}

div.lifestream-entry .profile-image {
    margin: 0 4px 4px 0;
    float: left;
}

div.lifestream-entry .lifestream-created-time,
div.lifestream-entry .lifestream-created-time a {
    font-size: 10px;
    color: #666;
}

div.participant {
    clear: both;
    margin-bottom: 2px;
    height: 48px;
    padding-left: 2px;
}

div.participant .lifestream-color {
    float: left;
    width: 3px;
    height: 100%;
}

div.participant .lifestream-service-icon {
    float: right;
}

div.participant .profile-image {
    margin: 0 4px 4px 0;
    float: left;
}

div#participation-bar {
    background: #faa;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    padding: 5px;
}

#location-menu {
	margin-left: 0px;
	padding-left: 0px;
}

.subscribe {
    float: right;
    padding: 12px 0 0 10px;
}

.subscribe a {
    text-decoration: none;
}

.subscribe img {
    vertical-align: bottom;
}

div.form {
    margin: 10px 0;
    clear: both;
}

div.form div.field {
    margin-top: 14px;
    float: left;
    margin-right: 20px;
}

div.form div.field div.label {
    margin-bottom: 4px;
}

div.form div.field div.error {
    color: red;
}

span.error {
    color: red !important;
/*    font-size: 12px;
    font-style: italic;
*/}

div.form div.field span.name {
    text-transform: uppercase;
/*    letter-spacing: 2px;*/
    font-size: 11px;
    color: #444;
}

div.form div.field input[type=textarea],
div.form div.field input[type=password],
div.form div.field input[type=text] {
    font-size: 16px;
    width: 200px;
    padding: 6px;
    border: 1px solid #bbb;
}

div.form div.field .error input[type=textarea],
div.form div.field .error input[type=password],
div.form div.field .error input[type=text] {
    border: 1px solid red;
}

div.form div.field .required input[type=textarea],
div.form div.field .required input[type=password],
div.form div.field .required input[type=text] {
    border-left: 3px solid red;
}

div.form #id_available_spots, 
div.form #id_age {
    width: 30px;
}

div.form #id_username,
div.form #id_email,
div.form #id_password,
div.form #id_password1,
div.form #id_password2 {
    width: 300px;
}

div.form #id_occupation {
    width: 400px;
}

div.form #id_format,
div.form #id_session_format,
div.form #id_name,
div.form #id_description {
    width: 500px;
}

div.form #id_start_date_0,
div.form #id_start_date_1,
div.form #id_end_date_0,
div.form #id_end_date_1 {
    width: 100px;
    margin-right: 10px;
}