{% extends "base.html" %}
{% load common_tags %}

{% block title %}{% block pagetitle %}Reset Password{% endblock %}{% endblock %}

{% block content %}

{% if validlink %}

    <p>Enter your new password twice so it can be verified.</p>

    <form action="" method="post">
        <table>
        {{ form }}
        </table>

        <p><input type="submit" value="Change Password" /></p>
    </form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please try to <a href="{%url password_reset %}"><strong>reset your password</strong></a> again or <a href="{% url login %}"><strong>Login</strong></a>.</p>

{% endif %}


{% endblock %}
