{% extends "base.html" %}
{% load common_tags %}

{% block title %}{% block pagetitle %}Change Password{% endblock %}{% endblock %}

{% block content %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly</p>

<form action="" method="post">

    <table>
    {{ form }}
    </table>

    <p><input type="submit" value="Change Password" /></p>
</form>

<script type="text/javascript">
document.getElementById('id_password1').focus()
</script>

{% endblock %}
