{% extends "base.html" %}
{% load pagination_tags %}
{% load common_tags %}

{% block title %}{% block pagetitle %}Register for a Breakout Festival Account{% endblock %}{% endblock %}

{% block content %}

<p>Registering for a Breakout! account will allow you to check-in at events, and schedule your own sessions for you and your colleagues.</p>


<form action="#" method="POST">

    <span class="error">
        {% for error in form.non_field_errors %}
            {{ error }} {% if not forloop.first %}<br/>{% endif %}
        {% endfor %}
    </span>

    <div class="form">
        {% with form.first_name as field %}{% include 'form.field.html' %}{% endwith %}
        {% with form.last_name as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
        {% with form.email as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
        
        {% with form.username as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
        {% with form.password1 as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
        {% with form.password2 as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
        
        {% with form.age as field %}{% include 'form.field.html' %}{% endwith %}
        {% with form.gender as field %}{% include 'form.field.html' %}{% endwith %}
        {% with form.occupation as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>

        {% with form.tos as field %}{% include 'form.field.html' %}{% endwith %}
        <div class="clear"></div>
    </div>

    <button type="submit">Create Account</button>
</form>

<script type="text/javascript">
document.getElementById('id_first_name').focus()
</script>

{% endblock %}
