{% load common_tags %}

<div class="lifestream-entry" style="border-left: 4px solid #4de;">
    <a href="{{ lifestream_entry.twitterstatus.twitter_user.get_absolute_url }}" target="_blank"><img src="http://assets1.twitter.com/images/favicon.ico" class="lifestream-service-icon"></a>

    <a href="{{ lifestream_entry.twitterstatus.twitter_user.get_absolute_url }}">
        {% if lifestream_entry.twitterstatus.twitter_user.profile_image_url %}
            <img class="profile-image" src="{{ lifestream_entry.twitterstatus.twitter_user.profile_image_url }}" />
        {% else %}
            <img class="profile-image" src="{{ user.get_profile.profile_image.url }}">
        {% endif %}
    {{ lifestream_entry.user.short_name }}</a>: {{ lifestream_entry.twitterstatus.text|safe|urlize|twitterize }}<br/>

    <span class="lifestream-created-time">{{ lifestream_entry.created_on|timesince }} ago on <a href="{{ lifestream_entry.twitterstatus.twitter_user.get_absolute_url }}">Twitter</a></span>

    <div class="clear"></div>
</div>
