{% load common_tags %}

{{ obj.description|safe|urlize|linebreaks }}

<p>
    <strong>Location</strong>:<br/>

    {% if obj.venue.image %}
        <a href="{{ obj.venue.image.url }}" target="_blank"><img src="{{obj.venue.image.url}}" width="100" height="100"></a><br/>
    {% endif %}

    <a href="{{ obj.venue.get_absolute_url }}">{{ obj.venue.name }}</a><br/>
    {{ obj.venue.street_address_1|default_if_none:"" }}<br/>
    {% if obj.venue.street_address_2 %}{{ obj.venue.street_address_2 }}<br/>{% endif %}
    {{ obj.venue.city }}, {{ obj.venue.state }} {{ obj.venue.zip_code|default_if_none:"" }}
    
    {{ obj.venue.description|default_if_none:""|safe|urlize|linebreaksbr }}
</p>

<p><strong>Session Format</strong>: {{ obj.session_format.name }}</p>

<p><strong>Hosted By</strong>: {{ obj.moderator.short_name }}</p>

<p><strong>Date &amp; Time</strong>: 
    {% ifequal obj.start_date_localized.date obj.end_date_localized.date %}
        {{ obj.start_date_localized|date:"D, M jS \f\r\o\m P" }}&ndash;{{ obj.end_date_localized|date:"P" }} ({{ obj.timezone }})
    {% else %}
        {{ obj.start_date_localized|date:"D, M jS \a\t P" }}&ndash;{{ obj.end_date_localized|date:"D, M jS \a\t P" }} ({{ obj.timezone }})
    {% endifequal %}
</p>

<p>
    <strong>{{ obj.registered_users.count }} {{ obj.registered_users.count|pluralize:"person,people" }} attending</strong>
    {% if obj.remaining_spots %} / {{ obj.remaining_spots }} spots remaining{% endif %}
    {% if not obj.available_spots %} / Everyone is welcome{% endif %}
</p>

<p><a href="{% url breakout_session_register venue_slug=obj.venue.slug, breakout_session_id=obj.id %}">Sign Up To Attend &raquo;</a></p>
